body {
    color: white;
    background: black;
    font-family: "EB Garamond", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px rgb(58,136,191,1);
    padding: 8px;
    font-size: 32px;
    color: rgb(144,182,250)
}

.chamada{
    background:rgb(144,194,255);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
    
}

.chamada-texto {
    margin: right 6%;

}

h1 {
    font-size: 40px;
}

p{
    font-size: 26;
}

img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;


}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green; 

}
 
.categoria h2 {
    color: rgb(144,182,250)
}


